.popup {
    display: none;
    position: fixed;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    max-width: 430px;
    max-height: 330px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.popup_opened {
    display: flex;

}

@media screen and (max-width:660px) {

    .popup {
        max-width: 282px;
        max-height: 322px;
    }

}