.popup__save-text {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}

@media screen and (max-width:660px) {

    .popup__save-text {
        font-size: 14px;
        line-height: 17px;
    }

}