.Elements__vector {
    max-width: 22px;
    max-height: 19px;
    object-fit: fill;
    object-position: 0% 0%;
    margin: 5px 0 0;

}

.Elements__vector:hover {
    background-image: url(../../../images/Elements__heart-active.png);
    background-size: cover;

}