.elements__footer {
    margin: 0;
    padding: 20px 18px 26px 21px;
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    max-height: 79px;
    justify-content: space-between;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}