.profile {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0 auto 47px;
    max-width: 880px;
    max-height: 120px;
    box-sizing: border-box;
    position: relative;
    padding: 0;
}

@media screen and (max-width:660px) {

    .profile {
        flex-direction: column;
        max-width: 282px;
        max-height: 286px;
        min-height: 286px;
        margin-bottom: 36px;
        align-self: center;
    }

}