.popup__content {
    background: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 430px;
    min-height: 330px;
    margin: 0;
    padding: 0 36px;
}

@media screen and (max-width:660px) {

    .popup__content {
        padding-left: 22px;
        padding-right: 22px;
    }

}