.profile__add-button {
    min-width: 150px;
    min-height: 50px;
    max-height: 50px;
    background-color: #000000;
    border-radius: 2px;
    color: #FFFFFF;
    padding: 14px 64px;
    align-self: flex-end;
    opacity: 1;
    border: 2px solid #FFFFFF;
    margin: auto 0 auto auto;
    vertical-align: middle;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width:660px) {

    .profile__add-button {
        position: relative;
        width: 100%;
    }

}