.popup__close-button {
    background: #000000;
    color: #FFFFFF;
    max-width: 32px;
    min-width: 32px;
    max-height: 32px;
    min-height: 32px;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    position: absolute;
    top: -32px;
    right: -32px;
}

.popup__close-button:hover {
    opacity: 0.8;
}

@media screen and (max-width:660px) {

    .popup__close-button {
        right: 0;
    }

}