.imagepopup__content {
    background: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    align-self: center;
    position: relative;
    max-height: 540px;
    min-width: 816px;
}

@media screen and (max-width:910px) {
    .imagepopup__content {
        max-height: 299px;
        max-width: 240px;
        min-width: 100px;
    }
}