.popup__save-button {
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 48px 0 0;
    padding: 0;
    align-self: center;
    background: #000000;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    min-height: 50px;
    max-height: 50px;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.popup__save-button:hover {
    opacity: 0.8;
}