@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__line/header__line.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__add-vector/profile__add-vector.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/Elements/Elements.css);
@import url(../blocks/Elements/__Element/Elements__Element.css);
@import url(../blocks/Elements/__footer/Elements__footer.css);
@import url(../blocks/Elements/__image/Elements__image.css);
@import url(../blocks/Elements/__title/Elements__title.css);
@import url(../blocks/Elements/__vector/Elements__vector.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__title/footer__title.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__name/popup__name.css);
@import url(../blocks/popup/__profession/popup__profession.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__border-bottom/popup__border-bottom.css);