.elements__element {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    max-height: 361px;
    align-self: center;
}

@media screen and (max-width:900px) {

    .elements__element {
        max-width: 282px;
    }

}